* {
  padding: 0;
  margin: 0;
}
body {
  font: 1em/1.5 "Avenir", "Avenir Next", Helvetica Neue, Arial;
}
main {
  padding: 32px;
}
p {
  max-width: 1200px;
}
h1 {
  color: #492a7c;
  margin-bottom: 16px;
}
h2 {
  border-bottom: 2px solid #ccc;
  margin: 32px 0 16px;
  width: fit-content;
}

footer {
  padding-top: 16px;
  text-align: right;
}

#container {
  display: flex;
  flex-direction: column;
  flex: center;
}


#all_selection_options{
  width: 50%;
}


#variance_chart {
  width: 50%;
}
#top-row{
  display:flex;

  flex-direction:row;
}
#whole-setup {
  margin: 40px 40px 40px 40px;
}